USE [master]
GO
/****** Object:  Database [NewBaseCodeDB_WhakarongorauV1]    Script Date: 14-Nov-25 11:41:35 AM ******/
CREATE DATABASE [NewBaseCodeDB_WhakarongorauV1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NewBaseCodeDB_WhakarongorauV1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\NewBaseCodeDB_WhakarongorauV1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NewBaseCodeDB_WhakarongorauV1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\NewBaseCodeDB_WhakarongorauV1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NewBaseCodeDB_WhakarongorauV1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NewBaseCodeDB_WhakarongorauV1]
GO
/****** Object:  User [aimcsqlteam01]    Script Date: 14-Nov-25 11:41:39 AM ******/
CREATE USER [aimcsqlteam01] FOR LOGIN [aimcsqlteam01] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [aimcsql01]    Script Date: 14-Nov-25 11:41:39 AM ******/
CREATE USER [aimcsql01] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[AzureRegionDetails]    Script Date: 14-Nov-25 11:41:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AzureRegionDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AzureRegion] [nvarchar](100) NOT NULL,
	[CultureName] [nvarchar](10) NOT NULL,
	[CurrencyName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 14-Nov-25 11:41:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[OrganizationName] [nvarchar](255) NULL,
	[OrganizationLogo] [nvarchar](max) NULL,
	[BlobContainerName] [nvarchar](255) NULL,
	[AccountKey] [nvarchar](255) NULL,
	[AccountName] [nvarchar](100) NULL,
	[DateTime] [datetime] NULL,
	[RoleId] [int] NULL,
	[LoginWith] [nvarchar](50) NULL,
	[OpenAIIndexName] [nvarchar](255) NULL,
	[NominationId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerInformation]    Script Date: 14-Nov-25 11:41:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerInformation](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[UserName] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NULL,
	[OrganizationLogo] [nvarchar](255) NULL,
	[RoleId] [int] NULL,
	[LoginWith] [varchar](100) NULL,
	[PasswordUrl] [nvarchar](255) NULL,
	[PasswordUHCreatedOn] [datetime] NULL,
	[UHExpire] [int] NULL,
	[UHActivate] [bit] NULL,
	[Isactive] [bit] NOT NULL,
	[Createdon] [datetime2](7) NOT NULL,
	[Modeifiedon] [datetime2](7) NULL,
	[Lastloginon] [datetime2](7) NULL,
	[Modifiedby] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_CustomerInformation] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 14-Nov-25 11:41:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackId] [int] IDENTITY(1,1) NOT NULL,
	[OveralExperience] [int] NOT NULL,
	[Satisfactionwithbot] [varchar](60) NULL,
	[SuggestionFeedback] [nvarchar](max) NULL,
	[EmailFeedback] [varchar](20) NOT NULL,
	[FeedbackDate] [datetime] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[UserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GeneratedData]    Script Date: 14-Nov-25 11:41:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneratedData](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DocID] [int] NULL,
	[Language] [nvarchar](50) NULL,
	[Summary] [nvarchar](max) NULL,
	[Sentiment] [nvarchar](max) NULL,
	[Transcript] [nvarchar](max) NULL,
	[EntityRole] [nvarchar](max) NULL,
	[PhrasesRole] [nvarchar](max) NULL,
	[SentimentScore] [float] NULL,
	[isSafe] [bit] NULL,
	[WhyNotUploaded] [varchar](500) NULL,
	[HateSeverity] [decimal](10, 2) NULL,
	[SelfHarmSeverity] [decimal](10, 2) NULL,
	[SexualSeverity] [decimal](10, 2) NULL,
	[ViolenceSeverity] [decimal](10, 2) NULL,
	[isProcessed] [bit] NULL,
 CONSTRAINT [PK_GeneratedData] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JsonSplitFileInfo]    Script Date: 14-Nov-25 11:41:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JsonSplitFileInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DocID] [int] NOT NULL,
	[FileName] [varchar](255) NOT NULL,
	[ProcessedData] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MyTargetTable]    Script Date: 14-Nov-25 11:41:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyTargetTable](
	[category_code] [nvarchar](50) NULL,
	[category_name] [nvarchar](255) NULL,
	[product_code] [nvarchar](50) NULL,
	[product_name] [nvarchar](255) NULL,
	[attribute_code] [nvarchar](50) NULL,
	[attribute_name] [nvarchar](255) NULL,
	[attribute_value] [nvarchar](255) NULL,
	[attribute_unit_code] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_PronunciationAssemmentsErrors]    Script Date: 14-Nov-25 11:41:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_PronunciationAssemmentsErrors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[callId] [int] NOT NULL,
	[wordId] [int] NULL,
	[WordText] [nvarchar](max) NULL,
	[AccuracyScore] [decimal](10, 2) NULL,
	[ErrorType] [nvarchar](500) NULL,
 CONSTRAINT [PK_Tbl_PronunciationAssemmentsErrors] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_securityAssessment]    Script Date: 14-Nov-25 11:41:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_securityAssessment](
	[agentId] [int] NULL,
	[transcript] [nvarchar](max) NULL,
	[accuracyScore] [decimal](10, 2) NULL,
	[fluencyScore] [decimal](10, 2) NULL,
	[completenessScore] [decimal](10, 2) NULL,
	[prosodyScore] [decimal](10, 2) NULL,
	[pronunciationScore] [decimal](10, 2) NULL,
	[vocabularyScore] [decimal](10, 2) NULL,
	[grammarScore] [decimal](10, 2) NULL,
	[topicScore] [decimal](10, 2) NULL,
	[contentScore] [decimal](10, 2) NULL,
	[HateSeverity] [int] NULL,
	[SelfHarmSeverity] [int] NULL,
	[SexualSeverity] [int] NULL,
	[ViolenceSeverity] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_TranscriptToxicity]    Script Date: 14-Nov-25 11:41:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_TranscriptToxicity](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Text] [nvarchar](max) NULL,
	[HateSeverity] [int] NULL,
	[SelfHarmSeverity] [int] NULL,
	[SexualSeverity] [int] NULL,
	[ViolenceSeverity] [int] NULL,
 CONSTRAINT [PK_tbl_TranscriptToxicity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TCO_Details]    Script Date: 14-Nov-25 11:41:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TCO_Details](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[userid] [nvarchar](max) NULL,
	[Service_category] [nvarchar](max) NULL,
	[Service_type] [nvarchar](max) NULL,
	[Region] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Estimated_monthly_cost] [decimal](18, 2) NULL,
	[isActive] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UploadDocuments]    Script Date: 14-Nov-25 11:41:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UploadDocuments](
	[DocID] [int] IDENTITY(1,1) NOT NULL,
	[FileRealName] [nvarchar](255) NOT NULL,
	[UploadDate] [datetime] NOT NULL,
	[BlobUrl] [nvarchar](max) NOT NULL,
	[IsProcessed] [bit] NOT NULL,
	[ExtractedInfo] [nvarchar](max) NULL,
	[Filetype] [varchar](255) NULL,
	[DatabaseName] [nvarchar](200) NULL,
	[HateSeverity] [int] NULL,
	[SelfHarmSeverity] [int] NULL,
	[SexualSeverity] [int] NULL,
	[ViolenceSeverity] [int] NULL,
	[IsAssessed] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInformation]    Script Date: 14-Nov-25 11:41:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInformation](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](100) NOT NULL,
	[LastName] [varchar](100) NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[RoleId] [int] NOT NULL,
	[CustomerId] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LoginType] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSessionTracker]    Script Date: 14-Nov-25 11:41:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSessionTracker](
	[SessionTrackerId] [int] IDENTITY(1,1) NOT NULL,
	[SessionDuration] [time](7) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[LoginWith] [nvarchar](200) NOT NULL,
	[LoginTime] [datetime] NOT NULL,
	[RoleId] [int] NOT NULL,
	[RoleName] [nvarchar](200) NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[IPAddress] [nvarchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[SessionTrackerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CustomerInformation] ADD  CONSTRAINT [DF_CustomerInformation_UHActivate]  DEFAULT ((0)) FOR [UHActivate]
GO
ALTER TABLE [dbo].[GeneratedData] ADD  DEFAULT ((0)) FOR [isProcessed]
GO
USE [master]
GO
